<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= params['gamertag'] %></title>
    </head>
    <body>
        <img src="<%= params['photo'] %>" alt="A photo"/>
        <h1><%= params['gamertag'] %></h1>
        <h2><%= params['game']%></h2>
        <h3><%= params['main']%></h3>
    </body>
</html>
